<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bouncing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F89C02A41C6E7F8C00B0A15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F89C02BC1C6E7F8C00B0A15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F89C02C71C6E7F8C00B0A15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
